.header {
  background: #1c2b35;
  height: 80px;
  display: flex;

  padding-left: 100px;
  padding-right: 120px;
  align-items: center;
  justify-content: space-between;
}

nav.header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 30px;
}
nav.header a:hover{
    color: orange;
}
